body {
    height:100vh;
    width:100vw;
    margin:0px;
    overflow:hidden;
    background-color: rgb(6, 2, 36);
    display:grid;
    place-items:center;
}
div {
    border-style: solid;
    /* border-color:aliceblue; */
    border: none;
}

#wrapper {
    aspect-ratio:1.618;
    width:90vmin;
    position:relative
}

#wrapper[data-configuration="2"] > .shape {
    border-radius: 50%;
}

#wrapper > .shape {
    height:30%;
    position:absolute;
    transition:left, top, height,width, border-radius;
    transition-duration:700ms;
    transition-timing-function: ease-in-out;
}





#wrapper > .shape:nth-child(1) {
    background-color: deeppink;
    z-index:0;
}
#wrapper[data-configuration="1"] > .shape:nth-child(1) {
    left:60%;
    top:0%;
    height:60%;
    width:40%;
}
#wrapper[data-configuration="2"] > .shape:nth-child(1) {
    left:38.2%;
    top:0%;
    width:61.8%;
    height:100%;
}




#wrapper > .shape:nth-child(2) {
    background-color: aliceblue;
    z-index:0;
}
#wrapper[data-configuration="1"] > .shape:nth-child(2) {
    left:20%;
    top:0%;
    height:100%;
    width:40%;
}

#wrapper[data-configuration="2"] > .shape:nth-child(2) {
    left:28.5%;
    top:67%;
    height:33%;
    width:20%;
}





#wrapper > .shape:nth-child(3) {
    background-color: khaki;
    z-index:1;
}
#wrapper[data-configuration="1"] > .shape:nth-child(3) {
    left:45%;
    top:60%;
    height:40%;
    width:55%;
}
#wrapper[data-configuration="2"] > .shape:nth-child(3) {
    left:44.1%;
    top:46.45%;
    height:33%;
    width:20%;
}




#wrapper > .shape:nth-child(4) {
    background-color: aqua;
    z-index:1;
}
#wrapper[data-configuration="1"] > .shape:nth-child(4) {
    left:0%;
    top:0%;
    height:40%;
    width:40%;
}
#wrapper[data-configuration="2"] > .shape:nth-child(4) {
    left:11%;
    top:0%;
    height:48.5%;
    width:30%;
}





#wrapper > .shape:nth-child(5) {
    background-color: bisque;
    z-index:1;
}
#wrapper[data-configuration="1"] > .shape:nth-child(5) {
    left:75%;
    top:0%;
    height:40%;
    width:25%;
}
#wrapper[data-configuration="2"] > .shape:nth-child(5) {
    left:69%;
    top:0%;
    width:31%;
    height:50%;
}



#wrapper > .shape:nth-child(6) {
    background-color: brown;
    z-index:2;
}
#wrapper[data-configuration="1"] > .shape:nth-child(6) {
    left:0%;
    top:40%;
    height:60%;
    width:20%;
}
#wrapper[data-configuration="2"] > .shape:nth-child(6) {
    left:0%;
    top:45%;
    height:48.5%;
    width:30%;
}




#wrapper > .shape:nth-child(7) {
    background-color: aquamarine;
    z-index:2;
}
#wrapper[data-configuration="1"] > .shape:nth-child(7) {
    left:85%;
    top:0%;
    height:25%;
    width:15%;
}
#wrapper[data-configuration="2"] > .shape:nth-child(7) {
    left:79%;
    top:0%;
    width:21%;
    height:33%;
}



